<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>537721283943-hepaib2r9ghq86dv942rt58af54j037u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.537721283943-hepaib2r9ghq86dv942rt58af54j037u</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>537721283943-fme8agss3ovi9nj5garde8fq91e1n19g.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDn_uSJiCkOMJuvpsKftNSg7KU4DmGID2k</string>
	<key>GCM_SENDER_ID</key>
	<string>537721283943</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ionec.serviceman</string>
	<key>PROJECT_ID</key>
	<string>fix234-44f19</string>
	<key>STORAGE_BUCKET</key>
	<string>fix234-44f19.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:537721283943:ios:b0d558c8096a80c193fbc2</string>
</dict>
</plist>